body {
   margin: 0;
   padding: 0;
   font-family: 'proxima-nova', sans-serif;
   font-weight: 300;
}

a {
   text-decoration: none;
   color: #1C63A5;
}

hr {
   margin: 54px 0;
   border: 0;
   border-top: 1px solid #eeeeee;
   box-sizing: content-box;
   height: 0;
}

.intro {

}

.intro-header {
   background-image: url('bg-1.jpg');
}

.color-container {
   background-color: rgba(20, 89, 153, 0.85);
   transition: 0.2s all ease;
   padding: 100px 50px 50px 80px;
   text-align: center;
}

.intro header h1 {
   color: white;
   font-family: 'Julius Sans One', sans-serif;
   text-transform: uppercase;
   font-size: 3.2em;
   text-align: left;
}

.intro header h2 {
   font-family: 'Julius Sans One', sans-serif;
   font-style: italic;
   font-size: 1.6em;
   color: rgba(255,255,255,0.6);
   text-align: left;
}

.left, .right {
   display: inline-block;
   vertical-align: top;
}

.intro .left span {
   display: block;
   position: relative;
   top: 65px;
   content: "";
   width: 125px;
   height: 125px;
   margin: -65px 40px 0 0;
   background: url('http://www.csszengarden.com/214/enso.svg');
   background-size: 100%;
   opacity: 0.6;
   -webkit-animation: koan 36000s infinite alternate;
   -moz-animation: koan 36000s infinite alternate;
   animation: koan 36000s infinite alternate;
}





/*text*/

#zen-summary, #zen-summary, #zen-benefits, #zen-requirements, #zen-preamble, #zen-explanation, #zen-participation{
   max-width: 820px;
   margin: 0px auto;
   padding: 1em 5% 1em 10%;
   font-size: 20px;
}

#zen-summary {
   margin-top: 50px;
}

h3 {
   line-height: 36px;
   color: #384046;
   font-size: 30px;
   font-weight: 400;
}

p {
   font-size: 1em;
   line-height: 1.5;
   color: #21272d;
   font-weight: 300;
   margin: 0 0 1em;
   word-wrap: break-word;
}

.wrapper {
   max-width: 820px;
   margin: 0 auto;
}

.design-archives ul {
   padding: none;
   text-align: center;
}

.design-archives ul li {
   list-style-type: none;
   display: inline-block;
}

.design-selection li {
   /*list-style-type: none;*/
   margin: 20px 0;
   font-size: 18px;
}

.zen-resources li {
   /*list-style-type: none;*/
   margin: 20px 0;
   font-size: 18px;
}

.design-selection ul {
   padding: 0;
}

.zen-resources ul {
   padding: 0;
}

.design-archives ul li a {
       color: #fff;
    font-weight: bold;
    background-color: #54b89d;
    font-size: 1em;
    padding: 0.6em 1.2em;
    display: inline-block;
    position: relative;
    border: 0;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    vertical-align: bottom;
    text-rendering: optimizeLegibility;
    border-radius: 2px;
    vertical-align: middle;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 2px;
    background: #4dab7d;
    border: 2px solid #4dab7d;
    text-transform: uppercase;
    white-space: nowrap;
   background: none;
   border-radius: 4px;
   font-size: 0.8em;
   border: 2px solid #1C63A5;
   border-radius: 3px;
   color: #18568f;
   transition: none;

}

.sidebar {
   padding: 0 0 20px;
    margin: 4em 0 0 0;
    background: whitesmoke;
    color: #aaa;
    font-size: 0.8em;
}

.design-selection {
   padding: 0 10px;
   width: 45%;
   display: inline-block;
   vertical-align: top;
}

.zen-resources {
   padding: 0 10px;
   width: 45%;
   display: inline-block;
   vertical-align: top;
}

footer {
   padding: 3em 10%;
    background-color: whitesmoke;
    text-align: center;
    border-top: 1px solid #dedede;
}

footer a {
    width: 76px;
    height: 76px;
    padding: 76px 0 0 0;
    margin: 0 3em;
}
